<nav class="navbar border navbar-default navbar-fixed-top" style="background-color: white;">
    <div class="container form-inline">
        <a class="navbar-brand" href="#">
            <img src="/imgs/tripple-logo-5.png" width="100" alt=""/>
        </a>


        <a href="" class="social-icon"> <i class="fa fa-earth"></i></a>
        <input class="form-control form-control-sm" style="margin: auto;" type="text" placeholder="Search">
        <i style="color: black;margin-right: 15px" class="material-icons md-24">
            public
        </i>

        <i style="color: black;margin-right: 15px" class="material-icons">person</i>
        <i style="color: black;" class="material-icons">explore</i>
    </div>
</nav>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <!--services-->
        <div class="col-sm-3">
            <div class="alert alert-light border" role="alert">
                <img src="imgs/tripple-logo-o.png" style="margin-right: 11px;" width="20">
                <a href="#" class="alert-link">Get Started</a>
            </div>
            <div class="alert alert-light border" style="margin-top: -5px;" role="alert">
                <img src="imgs/tripple-logo-4.png" style="margin-right: 11px;" width="20">
                <a href="#" class="alert-link">Go local</a>
            </div>
        </div>
        <!--end of services-->

        <!--user post-->

        <div class="col-lg" style="margin-left: -19px;">

            <div class="card" style="min-width: 415px; width: 612px;margin-bottom: 10px;">
                <div>
                    <img src="imgs/tripple-logo-r.png" style="width: 50px;height: 50px;margin: 19px;"
                         class="rounded-circle float-left"
                         alt="...">

                    <a href="#" style="color: black;margin-top: 20px;" class="float-right"> <i
                            style="color: black;margin-right: 19px" class="material-icons">more_horiz</i></a>

                    <span><p class="font-weight-bold"
                             style="font-size:15px;color: #005cbf;margin-top: 25px;">MUSA</p></span>
                    <span><p style="font-size:10px;margin-top: -15px;">September 6 at 12:28 AM</p></span>
                </div>
                <div class="card-body" style="margin-top: -20px;">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages and web page editors now
                        use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                        web sites still in their infancy. Various versions have evolved over the years, sometimes by
                        accident, sometimes on purpose (injected humour and the like).

                    </p>
                    <img class="card-img-top img-resize" ondblclick="like()" src="imgs/road.jpg"
                         alt="Card image cap">
                    <p style="margin: 19px;" class="rounded-circle float-left" alt="...">384</p>
                    <p style="margin: 19px;" class="rounded-circle float-right" alt="...">5 Share</p>
                    <p style="margin: 19px;" class="rounded-circle float-right" alt="...">13 Comment</p>

                </div>
            </div>
        </div>
        <!--end of user post-->
        <div class="col-2" style="margin-right: 40px;">

        </div>
    </div>

</div>


<!--cover page-->
<div class="picture-container container border">
    <img style="width: 100%" src="imgs/cover3.jpg">
    <div class="controls">
        <a href="#" width="5" height="5" class="pos">Edit</a>
        <!--<a href="" class="save">Save Changes</a>-->
    </div>
</div>

<!--profile-->
<div class="container">
    <div class="row">
        <div style="margin-left: 15px;max-height: 350px;background-color: #e0a800"
             class="col-sm-4 text-center bg-white">
            <img class="rounded-circle" style="height: 150px;width: 150px;margin-top: -75px;"
                 src="imgs/xs.png"/>

            <div class="text-center align-content-center justify-content-center float-center">
                <div>
                    <p style="margin-top: 10px;color: #005cbf;" class="font-weight-bold text-center">Muhammad
                        Saleh</p>
                    <p class="small" style="margin-top: -10px;color: #969696">Software Engineer at Tripple</p>
                    <div style="margin-top: -10px"
                         class="row text-center d-flex align-items-center justify-content-center small">
                        <i class="material-icons">location_on</i>
                        <!--<i class="material-icons mr-2">public</i>-->'
                        <p style="margin-bottom: -2px;" class="small">Cairo, Egypt</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">
                        <p class="font-weight-bold">4,500</p>
                        <p class="small">Followers</p>
                    </div>
                    <div class="col-4">
                        <p class="font-weight-bold">320</p>
                        <p class="small">Following</p>
                    </div>
                    <div class="col-4">
                        <p class="font-weight-bold">1200</p>
                        <p class="small">Posts</p>
                    </div>
                </div>
                <div style="width:100%;background-color: #dadae4;height: 1px;margin-bottom: 8px;"></div>

                <div class="container d-flex text-center align-content-center justify-content-center">
                    <p class="small">I Love travelling and programming<br>
                        I Love travelling and programming<br>
                        I Love travelling and programming<br>
                        I Love travelling and programming<br></p>
                </div>
            </div>
        </div>

        <div style="margin-right: 15px;" class="col-lg">

            <!--top nav button-->
            <ul class="row nav" role="tablist">
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn nav-item font-weight-bold show active"
                       id="posts-tab"
                       href="#posts"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="posts"
                       aria-selected="true">Posts</a>
                </li>

                <!--gallery-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       id="gallery-tab"
                       data-toggle="tab"
                       href="#gallery"
                       role="tab"
                       aria-controls="gallery"
                       aria-selected="false"
                       class="btn nav-item font-weight-bold">Gallery</a>
                </li>

                <!--trips-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn font-weight-bold"
                       id="trips-tab"
                       data-toggle="tab"
                       href="#trips"
                       role="tab"
                       aria-controls="trips"
                       aria-selected="false">Trips</a>
                </li>


                <!--about-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #005cbf" class="btn font-weight-bold" id="contact-tab2" data-toggle="tab"
                       href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">About</a>
                </li>


                <!--space-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #969696" href="#" class="font-weight-bold"></a>
                </li>

                <!--space-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #969696" href="#" class="font-weight-bold"></a>
                </li>

                <!--space-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #969696" href="#" class="font-weight-bold"></a>
                </li>

                <!--space-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #969696" href="#" class="font-weight-bold"></a>
                </li>

                <!--space-->
                <li class="col-auto bg-white p-4 text-center">
                    <a style="color: #969696" href="#" class="font-weight-bold"></a>
                </li>


                <!--follow-->
                <li class="col-auto bg-white p-4 text-center" style="margin-left: -75px;">
                    <button type="button" href="#" class="btn btn-primary font-weight-bold">Follow</button>
                </li>
            </ul>

            <!--nav content-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="col-lg" style="margin-left: -19px;margin-top: 12px;">

                        <div class="card" style="min-width: 415px;margin-bottom: 10px;width: 107%;">
                            <div>
                                <img src="imgs/xs.png"
                                     style="width: 50px;height: 50px;margin: 19px;"
                                     class="rounded-circle float-left"
                                     alt="...">

                                <a href="#" style="color: black;margin-top: 20px;" class="float-right"> <i
                                        style="color: black;margin-right: 19px"
                                        class="material-icons">more_horiz</i></a>

                                <span><p class="font-weight-bold"
                                         style="font-size:15px;color: #005cbf;margin-top: 25px;">MUSA</p></span>
                                <span><p
                                        style="font-size:10px;margin-top: -15px;">September 6 at 12:28 AM</p></span>
                            </div>
                            <div class="card-body" style="margin-top: -20px;">
                                <p class="card-text">It is a long established fact that a reader will be distracted
                                    by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here',
                                    making it look like readable English. Many desktop publishing packages and web
                                    page editors now
                                    use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many
                                    web sites still in their infancy. Various versions have evolved over the years,
                                    sometimes by
                                    accident, sometimes on purpose (injected humour and the like).

                                </p>
                                <img class="card-img-top" ondblclick="like()" src="imgs/cover3.jpg"
                                     alt="Card image cap">
                                <p style="margin: 19px;" class="rounded-circle float-left" alt="...">384</p>
                                <p style="margin: 19px;" class="rounded-circle float-right" alt="...">5 Share</p>
                                <p style="margin: 19px;" class="rounded-circle float-right" alt="...">13 Comment</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                    <div class="row bg-white">
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/cover2.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b2.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b3.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b4.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b5.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b6.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="trips" role="tabpanel" aria-labelledby="trips-tab">
                    <div class="card m-auto w-50" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title float-left m-3">NYC</h5>
                                <!--<h5 class="card-title m-auto"><i class="material-icons">airplanemode_active</i></h5>-->
                                <img class="card-title m-auto glyph-icon"
                                     style="width: 20px;height: 20px;color: #3e6990;"
                                     src="icons/glyphs/svg/si-glyph-airplane.svg"/>
                                <h5 class="card-title float-right m-3">Egypt</h5>
                            </div>
                            <div class="text-center">
                                <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!--cover nav profile-->
<nav class="navbar border" style="background-color: white;">
    <div class="container form-inline">
        <a class="navbar-brand" href="#">
            <img src="imgs/tripple-logo-5.png" width="100" alt=""/>
        </a>


        <a href="" class="social-icon"> <i class="fa fa-earth"></i></a>
        <input class="form-control form-control-sm" style="margin: auto;" type="text" placeholder="Search">
        <i style="color: black;margin-right: 15px" class="material-icons md-24">
            public
        </i>

        <i style="color: black;margin-right: 15px" class="material-icons">person</i>
        <i style="color: black;" class="material-icons">explore</i>
    </div>
</nav>

<div class="container" style="min-width: 750px;">
    <div class="picture-container border" style="height: 300px;min-width: 750px;">
        <img style="width: 100%" src="imgs/cover3.jpg">
        <div class="controls">
            <a href="#" width="5" height="5" class="pos">Edit</a>
            <!--<a href="" class="save">Save Changes</a>-->
        </div>
    </div>


    <div class="container row m-auto" style="min-width: 750px;">
        <div style="max-height: 350px;" class="col-6 col-md-4 text-center bg-white">
            <img class="rounded-circle" style="height: 150px;width: 150px;margin-top: -75px;"
                 src="imgs/xs.png"/>

            <div class="text-center align-content-center justify-content-center float-center">
                <div>
                    <p style="margin-top: 10px;color: #005cbf;" class="font-weight-bold text-center">Muhammad
                        Saleh</p>
                    <p class="small" style="margin-top: -10px;color: #969696">Software Engineer at Tripple</p>
                    <div style="margin-top: -10px"
                         class="row text-center d-flex align-items-center justify-content-center small">
                        <i class="material-icons">location_on</i>
                        <!--<i class="material-icons mr-2">public</i>-->'
                        <p style="margin-bottom: -2px;" class="small">Cairo, Egypt</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">
                        <p class="font-weight-bold">4,500</p>
                        <p class="small">Followers</p>
                    </div>
                    <div class="col-4">
                        <p class="font-weight-bold">320</p>
                        <p class="small">Following</p>
                    </div>
                    <div class="col-4">
                        <p class="font-weight-bold">1200</p>
                        <p class="small">Posts</p>
                    </div>
                </div>
                <div style="width:100%;background-color: #dadae4;height: 1px;margin-bottom: 8px;"></div>

                <div class="container d-flex text-center align-content-center justify-content-center">
                    <p class="small">I Love travelling and programming<br>
                        I Love travelling and programming<br>
                        I Love travelling and programming<br>
                        I Love travelling and programming<br></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-8">
            <!--top nav button-->
            <ul class="row nav bg-white" role="tablist">
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn nav-item font-weight-bold show active"
                       id="posts-tab"
                       href="#posts"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="posts"
                       aria-selected="true">Posts</a>
                </li>


                <!--gallery-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       id="gallery-tab"
                       data-toggle="tab"
                       href="#gallery"
                       role="tab"
                       aria-controls="gallery"
                       aria-selected="false"
                       class="btn nav-item font-weight-bold">Gallery</a>
                </li>

                <!--trips-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn nav-item font-weight-bold"
                       id="trips-tab"
                       data-toggle="tab"
                       href="#trips"
                       role="tab"
                       aria-controls="trips"
                       aria-selected="false">Trips</a>
                </li>


                <!--about-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf" class="btn font-weight-bold" id="contact-tab2" data-toggle="tab"
                       href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">About</a>
                </li>



                <!--follow-->
                <li class="bg-white p-4 text-right">
                    <button type="button" href="#" class="btn btn-primary float-right font-weight-bold">Follow
                    </button>
                </li>
            </ul>

            <!--nav content-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="col-lg" style="margin-left:-19px;margin-top: 12px;">

                        <div class="card" style="min-width: 415px;margin-bottom: 10px;width: 107%;">
                            <div>
                                <img src="imgs/xs.png"
                                     style="width: 50px;height: 50px;margin: 19px;"
                                     class="rounded-circle float-left"
                                     alt="...">

                                <a href="#" style="color: black;margin-top: 20px;" class="float-right"> <i
                                        style="color: black;margin-right: 19px"
                                        class="material-icons">more_horiz</i></a>

                                <span><p class="font-weight-bold"
                                         style="font-size:15px;color: #005cbf;margin-top: 25px;">MUSA</p></span>
                                <span><p
                                        style="font-size:10px;margin-top: -15px;">September 6 at 12:28 AM</p></span>
                            </div>
                            <div class="card-body" style="margin-top: -20px;">
                                <p class="card-text">It is a long established fact that a reader will be distracted
                                    by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here',
                                    making it look like readable English. Many desktop publishing packages and web
                                    page editors now
                                    use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many
                                    web sites still in their infancy. Various versions have evolved over the years,
                                    sometimes by
                                    accident, sometimes on purpose (injected humour and the like).

                                </p>
                                <img class="card-img-top" ondblclick="like()" src="imgs/cover3.jpg"
                                     alt="Card image cap">
                                <p style="margin: 19px;" class="rounded-circle float-left" alt="...">384</p>
                                <p style="margin: 19px;" class="rounded-circle float-right" alt="...">5 Share</p>
                                <p style="margin: 19px;" class="rounded-circle float-right" alt="...">13 Comment</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                    <div class="row bg-white">
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/cover2.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b2.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b3.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b4.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b5.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="imgs/b6.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="clearfix visible-xs">
                            <!-- clearfix xs cols every 2 -->
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" style="margin-bottom: 15px;" id="trips" role="tabpanel"
                     aria-labelledby="trips-tab">

                    <div class="card" style="width: 102%; margin-top: 15px;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title float-left m-3">NYC</h5>
                                <!--<h5 class="card-title m-auto"><i class="material-icons">airplanemode_active</i></h5>-->
                                <img class="card-title m-auto glyph-icon"
                                     style="width: 20px;height: 20px;color: #3e6990;"
                                     src="icons/glyphs/svg/si-glyph-airplane.svg"/>
                                <h5 class="card-title float-right m-3">Egypt</h5>
                            </div>
                            <div class="text-center">
                                <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="width: 102%; margin-top: 15px;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title float-left m-3">NYC</h5>
                                <!--<h5 class="card-title m-auto"><i class="material-icons">airplanemode_active</i></h5>-->
                                <img class="card-title m-auto glyph-icon"
                                     style="width: 20px;height: 20px;color: #3e6990;"
                                     src="icons/glyphs/svg/si-glyph-airplane.svg"/>
                                <h5 class="card-title float-right m-3">Egypt</h5>
                            </div>
                            <div class="text-center">
                                <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<!--cover nav profile-->

<!--shimmer-->

<div class="col-lg" style="margin-left: -19px;">
    <div class="card" style="min-width: 415px; width: 612px;margin-bottom: 10px;">
        <div>
            <img src="imgs/xs.png" style="width: 50px;height: 50px;margin: 10px;"
                 class="rounded-circle float-left"
                 alt="...">

            <a href="#" style="color: black;margin-top: 10px;" class="float-right">
                <i style="color: black;margin-right: 19px" class="material-icons">more_horiz</i></a>
            <a href="#">
                <div style="background-color: #F5F5F5;margin-top: -1px"
                     class="mr-5 font-weight-bold border border-top-0 float-right p-2 form-inline">
                    <img width="15" src="flags/egypt.png"/>
                    <p style="font-size: x-small" class="m-0 text-muted ml-2">EGYPT</p>
                </div>
            </a>
            <p class="font-weight-bold" style="font-size:15px;color: #005cbf;margin-top: 15px;">
                <a style="color:#005cbf;" href="#">MUSA</a>
                <span><img style="margin-bottom: 2px;" src="icons/verified.png" width="13"></span>
            </p>

            <span><p class="text-muted"
                     style="font-size:10px;margin-top: -15px;">September 6 at 12:28 AM</p></span>
        </div>
        <div class="card-body " style="margin-top: -20px;">
            <p class="small card-text">This will be my first post in Trippy, hoping my idea and thoughts reach
                you as
                I mean<br>
                Why I started Trippy:<br>
                1 - help people to enjoy hanging out with themselves or with their groups in places around
                them<br>
                2 - help them to gain more travel experience
            </p>
            <img class="card-img-top" style="max-height:600px; " ondblclick="like()" src="imgs/road.jpg"
                 alt="">
            <div class="row" style="margin-bottom:-20px">
                <div class="col-lg form-inline">
                    <img src="imgs/like.png" width="20" height="20">
                    <p style="margin: 19px;margin-left: 10px" class="rounded-circle float-left" alt="...">
                        384</p>
                    <img src="imgs/comment.png" width="20" height="20">
                    <p style="margin: 19px;margin-left: 10px" class="rounded-circle float-right" alt="...">
                        13</p>
                </div>
            </div>
        </div>
    </div>


    <div>
        <box class="shine"></box>

        <div class="shimmer-div">
            <lines class="shine mt-0" style="width: 120px"></lines>
            <lines class="shine"></lines>
        </div>
        <br>
        <lines class="shine w-100 mt-0"></lines>
        <lines class="shine w-100"></lines>
        <lines class="shine w-100"></lines>

        <photo class="shine w-100"></photo>

    </div>
    <div class="mt-5">
        <box class="shine"></box>

        <div class="shimmer-div">
            <lines class="shine mt-0" style="width: 120px"></lines>
            <lines class="shine"></lines>
        </div>
        <br>
        <lines class="shine w-100 mt-0"></lines>
        <lines class="shine w-100"></lines>
        <lines class="shine w-100"></lines>

        <photo class="shine w-100"></photo>

    </div>

</div>

<!--shimmer-->


<!--profile post-->

<div class="card" style="min-width: 415px;margin-bottom: 10px;width: 107%;">
    <div>
        <img src="imgs/xs.png"
             style="width: 50px;height: 50px;margin: 19px;"
             class="rounded-circle float-left"
             alt="...">

        <a href="#" style="color: black;margin-top: 20px;" class="float-right"> <i
                style="color: black;margin-right: 19px"
                class="material-icons">more_horiz</i></a>

        <span><p class="font-weight-bold"
                 style="font-size:15px;color: #005cbf;margin-top: 25px;">MUSA</p></span>
        <span><p
                style="font-size:10px;margin-top: -15px;">September 6 at 12:28 AM</p></span>
    </div>
    <div class="card-body" style="margin-top: -20px;">
        <p class="card-text">It is a long established fact that a reader will be
            distracted
            by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum
            is
            that it has a
            more-or-less normal distribution of letters, as opposed to using 'Content
            here,
            content here',
            making it look like readable English. Many desktop publishing packages and
            web
            page editors now
            use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
            will
            uncover many
            web sites still in their infancy. Various versions have evolved over the
            years,
            sometimes by
            accident, sometimes on purpose (injected humour and the like).

        </p>
        <img class="card-img-top" ondblclick="like()" src="imgs/cover3.jpg"
             alt="Card image cap">
        <p style="margin: 19px;" class="rounded-circle float-left" alt="...">384</p>
        <p style="margin: 19px;" class="rounded-circle float-right" alt="...">5
            Share</p>
        <p style="margin: 19px;" class="rounded-circle float-right" alt="...">13
            Comment</p>

    </div>
</div>

<!--index.html-->


<nav class="navbar navbar-expand-lg box-shadow bg-white fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </button>

    <div class="collapse container navbar-collapse" id="navbarSupportedContent">

        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
            <a class="navbar-brand m-0" href="#">
                <a href="#">
                    <div class="small-rect backg-yellow font-weight-bold m-0 c-dark" style="font-size: 12px">TRIP</div>
                </a>
            </a>
        </a>

        <input class="form-control align-self-center form-control-sm c-dark"
               style="margin: auto;font-size: 12px;max-width:180px;font-family: Rubik,serif;" type="text"
               placeholder="Search">

        <!--profile badge-->
        <a href="#" class="mr-3">
            <i class="fas fa-user-alt c-blue fa-lg art-a">
            </i>
        </a>

        <!--explore badge-->
        <a href="#" class="mr-3">
            <i data-container="body"

               class="fas c-blue fa-compass fa-lg art-a"> </i>
        </a>
        <!--notification badge-->
        <a href="#">
            <i data-container="body"
               data-toggle="popover"
               data-placement="bottom"
               class="fas c-blue fa-globe-americas fa-lg art-a">
                <span class="artificial-badge"></span>
            </i>
        </a>

        <div id="popover-content" style="display: none">
            <ul class="list-group custom-popover">
                <li class="list-group-item">Airport Pickup</li>
                <li class="list-group-item">Food and Beverage</li>
                <li class="list-group-item">Yoga Class</li>
            </ul>
        </div>

    </div>


</nav>

<div class="container" style="min-width: 750px;margin-top: 55px">
    <div class="picture-container border" style="height: 300px;min-width: 750px;">
        <div id="cover_page">

        </div>
        <div class="controls">
            <a href="#" width="5" height="5" class="pos">Edit</a>
            <!--<a href="" class="save">Save Changes</a>-->
        </div>
    </div>

    <div class="container row m-auto" style="min-width: 750px;">
        <div style="max-height: 350px;" class="col-6 col-md-4 text-center bg-white">
            <div id="profile_pic">

            </div>
            <div id="info">

            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-8">
            <!--top nav button-->
            <ul class="row nav bg-white" role="tablist">
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn nav-item font-weight-bold show active"
                       id="posts-tab"
                       href="#posts"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="posts"
                       aria-selected="true">Posts</a>
                </li>

                <!--gallery-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       id="gallery-tab"
                       data-toggle="tab"
                       href="#gallery"
                       role="tab"
                       aria-controls="gallery"
                       aria-selected="false"
                       class="btn nav-item font-weight-bold">Gallery</a>
                </li>

                <!--trips-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf"
                       class="btn nav-item font-weight-bold"
                       id="trips-tab"
                       data-toggle="tab"
                       href="#trips"
                       role="tab"
                       aria-controls="trips"
                       aria-selected="false">Trips</a>
                </li>


                <!--about-->
                <li class="bg-white p-4 text-center">
                    <a style="color: #005cbf" class="btn font-weight-bold" id="contact-tab2" data-toggle="tab"
                       href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">About</a>
                </li>


                <!--follow-->
                <li class="bg-white p-4 text-right">
                    <button type="button" href="#" class="btn btn-primary float-right font-weight-bold">Follow
                    </button>
                </li>
            </ul>

            <!--nav content-->
            <div class="tab-content">
                <!--posts tab-->
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="col-lg" style="margin-left:-19px;margin-top: 12px;">
                        <div class="card" style="min-width: 415px;margin-bottom: 10px;width: 107%;">
                            <!--post options-->
                            <ul style="margin-top: -1px" class="nav nav-tabs" id="myTab" role="tablist">
                                <!--write post-->
                                <li class="nav-item">
                                    <a class="nav-link d-flex active" id="home-tab" data-toggle="tab"
                                       href="#home"
                                       role="tab" aria-controls="home" aria-selected="true">
                                        <span class="material-icons mr-2">edit</span>
                                        Write Post
                                    </a>
                                </li>
                                <!--blog a trip-->
                                <li class="nav-item">
                                    <a class="nav-link d-flex" id="profile-tab" data-toggle="tab"
                                       href="#profile"
                                       role="tab" aria-controls="home" aria-selected="true">
                                        <span class="material-icons mr-2">airplanemode_active</span>
                                        Blog a trip
                                    </a>
                                </li>
                                <!--photo or video-->
                                <li class="nav-item">
                                    <a class="nav-link d-flex" id="contact-tab" data-toggle="tab"
                                       href="#contact"
                                       role="tab" aria-controls="home" aria-selected="true">
                                        <span class="material-icons mr-2">photo</span>
                                        Photos/Videos
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class=" form-group">
                                            <textarea style="border-top: 0px;" class="form-control"
                                                      id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="navbar" style="margin-top: -9px">
                                        <div>
                                            <i class="material-icons mr-2">photo</i>
                                            <i class="material-icons">videocam</i>
                                        </div>
                                        <button class="d-flex btn btn-primary">
                                            <span class="material-icons mr-2">public</span>
                                            Post
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <form class="p-3 d-flex m-auto row">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto narrow">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="material-icons">flight_takeoff</i>
                                                        </div>
                                                    </div>
                                                    <input type="text" placeholder="ex. California"
                                                           class="form-control"
                                                           id="inlineFormInputGroup">
                                                </div>
                                            </div>

                                            <div class="col-auto narrow">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="material-icons">flight_land</i>
                                                        </div>
                                                    </div>
                                                    <input type="text" placeholder="ex. Egypt"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-auto narrow">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="material-icons">calendar_today</i>
                                                        </div>
                                                    </div>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <textarea contentEditable class="form-control form-control-lg"
                                                  style="height: 100px;"
                                                  type="text" placeholder="Story"></textarea>
                                        <div
                                                class="mydiv card w-100 text-center mt-2 add-photo col-auto text-black-50 p-4"
                                                style="width: 18rem;">
                                            <a href="#">
                                                <a href="#" class="material-icons text-gray">add</a>
                                                <a href="#" class="text-gray">Add Photos/Videos</a> </a>
                                        </div>

                                        <div class="row mb-2 mt-2">

                                            <div class="col-md-6 pr-0 pr-1">
                                                <div class="card mb-2 shadow-sm">


                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-0 pl-1">
                                                <div class="card mb-2 shadow-sm">
                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pr-0 pr-1">
                                                <div class="card mb-2 shadow-sm">
                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button class="float-right m-3 d-flex btn btn-primary">
                                        <span class="material-icons mr-2">public</span>
                                        Post
                                    </button>
                                </div>


                                <div class="tab-pane fade" id="contact" role="tabpanel"
                                     aria-labelledby="contact-tab">
                                    <form class="p-3 d-flex m-auto row">
                                        <div
                                                class="mydiv card w-100 text-center mt-2 add-photo col-auto text-black-50 p-4"
                                                style="width: 18rem;">
                                            <a href="#">
                                                <a href="#" class="material-icons text-gray">add</a>
                                                <a href="#" class="text-gray">Add Photos/Videos</a> </a>
                                        </div>

                                        <div class="row mb-2 mt-2">

                                            <div class="col-md-6 pr-0 pr-1">
                                                <div class="card mb-2 shadow-sm">


                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-0 pl-1">
                                                <div class="card mb-2 shadow-sm">
                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pr-0 pr-1">
                                                <div class="card mb-2 shadow-sm">
                                                    <button type="button" class="close position-absolute m-2"
                                                            data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <img class="card-img-top" src="./imgs/cover.jpg"
                                                         alt="Card image cap">
                                                    <div class="card-body p-0 p-2">
                                                            <textarea
                                                                    class="form-control form-control-lg"
                                                                    style="height: 100px;font-size: small"
                                                                    type="text" placeholder="Story"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button class="float-right m-3 d-flex btn btn-primary">
                                        <span class="material-icons mr-2">public</span>
                                        Post
                                    </button>

                                </div>
                            </div>
                        </div>

                        <!--post-->
                        <div id=""></div>
                        <!--post-->

                    </div>
                </div>

                <div class="tab-pane  fade pl-3 pt-3" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                    <div class="row rounded bg-white">
                        <div class="col-md-4 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 pr-0 pl-0 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b4.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b5.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 pbt-15">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="./imgs/b6.jpg" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" style="margin-bottom: 15px;" id="trips" role="tabpanel"
                     aria-labelledby="trips-tab">

                    <div class="card" style="width: 102%; margin-top: 15px;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title float-left m-3">NYC</h5>
                                <!--<h5 class="card-title m-auto"><i class="material-icons">airplanemode_active</i></h5>-->
                                <img class="card-title m-auto glyph-icon"
                                     style="width: 20px;height: 20px;color: #3e6990;"
                                     src="../src/icons/glyphs/svg/si-glyph-airplane.svg"/>
                                <h5 class="card-title float-right m-3">Egypt</h5>
                            </div>
                            <div class="text-center">
                                <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim
                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="width: 102%; margin-top: 15px;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title float-left m-3">NYC</h5>
                                <!--<h5 class="card-title m-auto"><i class="material-icons">airplanemode_active</i></h5>-->
                                <img class="card-title m-auto glyph-icon"
                                     style="width: 20px;height: 20px;color: #3e6990;"
                                     src="../src/icons/glyphs/svg/si-glyph-airplane.svg"/>
                                <h5 class="card-title float-right m-3">Egypt</h5>
                            </div>
                            <div class="text-center">
                                <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim
                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>