@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-body {
    background: #1E1E2E; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-page {
    width: 50%;
    padding: 5% 0 0;
    margin: auto;
}

.login-form {
    position: relative;
    background: #1E1E2E;
    max-width: 360px;
    margin: 0 auto 100px;
    text-align: center;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0336FF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form button:hover, .form button:active, .form button:focus {
    background: #0336FF;
}

.login-form .message {
    margin: 15px 0 0;
    color: #f5f5f5;
    font-size: 12px;
}

.login-form .message a {
    color: #0336FF;
    text-decoration: none;
}

.login-form .register-form {
    display: none;
}

.login-container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.login-container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.login-container .info {
    margin: 50px auto;
    text-align: center;
}

.login-container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.login-container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.login-container .info span a {
    color: #000000;
    text-decoration: none;
}

.login-container .info span .fa {
    color: #EF3B3A;
}