.shine {
    background: #dededf;
    background-image: linear-gradient(to right, #dededf 0%, #edeef1 20%, #dededf 40%, #dededf 100%);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

box {
    width: 255px;

    border-radius: 100%;
}

.shimmer-div {
    display: inline-flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
    vertical-align: top;
}

lines {
    height: 10px;
    margin-top: 10px;
    width: 150px;
}

photo {
    display: block!important;
    width: 450px;
    height: 100px;
    margin-top: 15px;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

