
/* Images Component CSS */

.grid-container-fb {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.container-fb {
  padding-left: 0;
  padding-right: 0;
  width: 100% !important;
}


.col-md-4-fb {
  width: 33.33333333%;
}

.border-fb {
  border: 2px solid white;
  border-radius: 6px;
}

.background-fb {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.height-one-fb {
  width: 100%;
  padding-top: 100%;
}

.height-two-fb {
  width: 50%;
  padding-top: 50%;
}

.height-three-fb {
  width: 33.3333%;
  padding-top: 33.3333%;
}

.cover-fb {
  background-color: #222;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 6px;
}

.cover-text-fb {
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 7%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  text-align: center;
}

.cover-text-fb > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-fb {
  height: 0;
  bottom: 100%;
  transition: .5s ease;
  overflow: hidden;
  font-size: 3%;
}

.border-fb:hover .slide-fb  {
  bottom: 0;
  height: auto;
}

.border-fb:hover .animate-text-fb  {
  top: 62%
}
